<mat-card>
  <mat-card-title>Search Loan</mat-card-title>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div>
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field appearance="outline">
                <mat-label>Borrower Full Name</mat-label>
                <input type="text" matInput placeholder="" formControlName="fullName">
                <!-- <mat-hint>Hint</mat-hint> -->
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="outline">
                <mat-label>Loan Number</mat-label>
                <input type="text" matInput placeholder="" formControlName="loanId">
                <!-- <mat-hint>Hint</mat-hint> -->
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="outline">
                <mat-label>Loan Amount</mat-label>
                <input type="text" matInput placeholder="" formControlName="loanAmt">
                <span matPrefix>$&nbsp;</span>
                <!-- <mat-hint>Hint</mat-hint> -->
              </mat-form-field>
            </td>
          </tr>
        </table>
      </div>
      <div class="button-row">
        <button mat-flat-button color="primary" type="submit"
          [disabled]="form.controls.fullName.hasError('minlength') || form.controls.loanId.hasError('minlength')|| form.controls.loanAmt.hasError('minlength')">Search</button>
        <button mat-flat-button color="primary" type="reset" (click)='resetOnClick()'>Reset</button>
        <button mat-flat-button color="primary" routerLink="/addloan"> Add Loan</button>
      </div>

    </form>
  </mat-card-content>
  <!-- 
  <div style="text-align: 'center';">
    <a mat-raised-button routerLink="/addloan" href="#">Add Loan</a>
  </div> -->
</mat-card>

<mat-card *ngIf="dataSource.data.length">
  <mat-card-title>Search Results</mat-card-title>
  <mat-card-content>
    <!-- <div class="wrapper"> -->
    <div>
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Borrwer Full Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="loan_num">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Loan Number </th>
          <td mat-cell *matCellDef="let element"><a href="#"[routerLink]="['/editloan',element.loan_num]"> {{element.loan_num}} </a></td>
        </ng-container>

        <ng-container matColumnDef="loan_amt">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Loan Amount </th>
          <td mat-cell *matCellDef="let element"> {{element.loan_amt}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <!-- Angular 8 pagination -->
      <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>