<mat-card>
  <mat-card-title>Search Loan</mat-card-title>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div>
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field appearance="outline">
                <mat-label>Borrower Full Name</mat-label>
                <input type="text" matInput placeholder="">
                <!-- <mat-hint>Hint</mat-hint> -->
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="outline">
                <mat-label>Loan Number</mat-label>
                <input type="text" matInput placeholder="">
                <!-- <mat-hint>Hint</mat-hint> -->
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="outline">
                <mat-label>Loan Amount</mat-label>
                <input type="text" matInput placeholder="">
                <span matPrefix>$&nbsp;</span>
                <!-- <mat-hint>Hint</mat-hint> -->
              </mat-form-field>
            </td>
          </tr>
        </table>
      </div>
      <div class="button-row">
        <button mat-flat-button color="primary" type="submit">Search</button>
        <button mat-flat-button color="primary" type="reset">Reset</button>
        <button mat-flat-button color="primary" routerLink="/addloan"> Add Loan</button>
      </div>

    </form>
  </mat-card-content>
  <!-- 
  <div style="text-align: 'center';">
    <a mat-raised-button routerLink="/addloan" href="#">Add Loan</a>
  </div> -->
</mat-card>