<div class="container">
  <mat-form-field appearance="outline">
    <mat-label>Borrower Full Name</mat-label>
    <input matInput placeholder="">
    <!-- <mat-hint>Hint</mat-hint> -->
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Loan Number</mat-label>
    <input matInput placeholder="">
    <!-- <mat-hint>Hint</mat-hint> -->
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Loan Amount</mat-label>
    <input matInput placeholder="">
    <span matPrefix>$&nbsp;</span>
    <!-- <mat-hint>Hint</mat-hint> -->
  </mat-form-field>
  <div class="button-row">
    <button class ="button-row" mat-flat-button color="primary">Search</button>
    <button class ="button-row" mat-flat-button color="primary">Reset</button>  
  </div>
  
</div>

